@import "tailwindcss";

@font-face {
  font-family: 'AVGARDD';
  src: url('/fonts/AVGARDN_2.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'AVGARDD';
  src: url('/fonts/AVGARDD_2.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #171717;
  --foreground: #ffffff;
  --font-default: 'AVGARDD', sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-default);
  .mask {
    position: absolute;
    mask-image: url('/mask.svg');
    background: radial-gradient(600px circle at center, rgba(255, 255, 255, 0.08), rgba(255, 255, 255, 0.02) 60%, rgba(255, 255, 255, 0) 100%),
                linear-gradient(135deg, #0b0b0b 0%, #171717 100%);
    mask-repeat: no-repeat;
    mask-position: 10%;
    mask-size: 40px;
  }
}
